*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, header {
    display: flex;
    flex-direction: column;
}

ul {
    text-decoration: none;
    list-style: none;
}
header, footer {
    background-color: #1F2937
}

header {
    color: #F9FAF8;
    flex-basis: 450px;
}

header .header-logolinks {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-main {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;

}

.header-logolinks p {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 800;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 420px;
    gap: 10px;
}

.header-main img {

    height: 250px;
    width: 550px;
    text-align: center;
    
}

.hero button {
    flex-basis: fit-content;
    padding: 5px 20px;
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    padding-bottom: 80px;
}
.information .head {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information .body {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information .body div {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    text-align: center;
}

.information .card {
    border: #3882F6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

